<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>${TEST_NAME} [%date{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level %logger{36} -
        %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <encoder>
      <pattern>${TEST_NAME} [%date{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] %-5level %logger{36} -
        %msg%n
      </pattern>
    </encoder>
    <file>test.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>test.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <logger level="DEBUG" name="com.github.sonus21">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>