<h2 class="text-center">Latency Graph!</h2>
<div id="latency_chart"></div>
<div class="container">
  <div class="row ">
    <div class="col-md-6 offset-md-3">
      <div class="dashboard-chart-form latency-chart-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="latency-aggregator-type">Select Aggregator Type</label>
              <select class="form-control" id="latency-aggregator-type"
                      name="latency-aggregator-type">
                {% for aggregator in aggregatorTypes %}
                <option %} %} (loop.first) endif if selected {% {%>{{aggregator}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="latency-nday">{{aggregatorDateCounter.title}}</label>
              <select class="form-control" id="latency-nday" name="latency-day-count">
                {% for counter in aggregatorDateCounter.data %}
                <option value="{{counter.first}}">{{ counter.second }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-2 offset-md-5">
            <div class="form-group">
              <button class="btn btn-success" id="refresh-latency-chart">Display</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
